*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.wrap{
    margin: auto;
}

p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 20px;
}
h2{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;




}

/*EDITANDO CABECERA */

.cabecera{
    background-color:#7299FE80 ;

    position: relative;

}
.cabecera  h1, .cabecera h2{
    position: absolute;
    color: white;
    
}

.figura img {
    width: 100%;
    height: 100%;
}

.cabecera  h1 {

    top: 10%;
    left: 50%;
    font-size: 5rem;
}
.cabecera  h2{
    bottom: 30%;
    left: 10%;
    line-height: 2.2rem;
    margin-bottom: 0;
    text-align: left;
    border-radius: 10px;
    background-color: #7299FE80;
    font-size: 2.8rem;
    opacity: 0.4;
    padding: 22px 19px;
    border-radius: 10px;
}
/***************END DE CABECERA**********************/


/* SECCION SOBRE MI*/

.sobre-mi {
    display: flex;
    flex-direction: column;
    background-color: #7299FE80;
    padding: 30px 40px 70px 40px;
}


.sobre-mi button{
    width: 187px;
    height: 62px;
    background-color: #D16FFF;
    color: white;
    border: none;
    font-size: 2.2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/***************END DE SECCION**********************/

/*SECCION DE HABILIDADES*/

.mis_skills{
    padding: 30px 40px 40px;
    background-color: #9022FF;
}
.mis_skills p{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.skills_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills{
    width: 40%;
    margin-bottom: 20px;
    margin-right: 30px;
}
.progress{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
}
.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-color: #57EFF9;
}

/***************END DE SECCION**********************/

/*SECCION PORTAFOLIO*/

.portafolio {
    background-color: #FFD233;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text_porta {

    margin: 0 auto;
    color: #00AD84;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img_porta {
    width: 610px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.img_porta img {
    width: 140px;
    height: 92px;
    padding: 10px;
}

/***************END DE SECCION**********************/
/* SECCION CLIENTES*/

.clientes {
    background-color:#3F4E62;
    color: #ADFF28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.clientes_img {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: center;
}

.clientes_img img {
    padding: 5px;
}

.contacto_form_2 input{
    width: 759px;
    height: 112px;
    
}


/***************END DE SECCION**********************/
/*SECCION CONTACTO*/

.contacto {
    background-color:#1687A0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.contacto h2 {
    color: #FF1B1B;
}

.contacto_form_1 {
    
    height: 200px;
    width: 759px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contacto_form_1 div input {
    width: 363px;
    height: 59px;

}

.contacto_boton {
    padding: 50px;
}

.boton_enviar {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    background-color: #233451 ;
    color:#FFFFFF ;
}






