wrap{
    margin: 15px;
}
header{
    background-color: green;
    padding: 2em;
    display: flex;
}
.one{
    color: white;
    list-style-type: none;
}
.one li{
    display: inline;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    top: 1px;
    left: 1150px;
    color: black;
}
/*SECCION HOME*/


